*{
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
:root{
    --background-color: #FDF6E4;
    --border-image: 10%;
    --color-button:#BF9B7A;
    --background-titu:#90B89B;
}
.menu{
    background-color:#AB8664;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    margin:25px;
    border:20px;
}
.titulo__texto{
    background-color:var(--background-titu);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1170px;
    height:50px;
    padding: 10px;
    margin: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 20px;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 30pt;
}
.arti{
    background-color:var(--background-color);
    width:600px;
    height:300px;
    padding:10px;
    border:20px;
    margin:25px;
}
.arti__text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 25pt;
}
.arti__subtext{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 17pt;
}
.cont{
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.menu__texto{
    text-decoration: none;
}
ul{
    list-style:none;
}
.boton{
    width:200px;
    height:200px;
    padding:15px;
    margin:10px;
}
.a{
    color:black;
}
.car{
    width: 400px;
    height: 400px;
    margin:10px;
    border:1px solid blue;
    color:aliceblue;
    list-style: none;
}
.card__image{
    width:500px;
    padding: 10px;
    border-radius: var(--border-image);
    margin:25px;
    border:20px;
}
.img{
    width:100px;
}
.fondo{
    background-color: #F0E6C0;
    background-image: url("fondob.png");
}
.button:hover{
    background-color: var(--color-button);
}
.button::before{
    content: "🐱";
}
h3.arti__text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 20pt;
}
p::first-letter{color:var(--background-titu)}